/*clase de elemento*/
h1 {
    font-size: 70px;
}
/* clase no atada a ningún elemento*/
.centrado {
     margin: 0 auto 0 auto;
     text-align: center;
}
/*  clase atada a un elemento*/
p.color-fuente {
    color:blueviolet;
    text-align: center;
    font-size: 50px;
}
div{
    display: block;
    margin: 0 auto 0 auto;
}
img{
    display: block;
    margin: 0 auto 0 auto;
}
p.fuente-enlace {
    font-size: 40px;
    text-align: center;
}
