table{
    font-size: 1.7em;
    border-collapse: collapse;
    margin: 25px auto;
    width: 70%;
}
th {
border: 1px solid black;
padding: 10px;
text-align: center;
background: rgb(77, 168, 253);
}
td{
border: 1px solid black;
padding: 10px;
text-align: center;
background: rgb(139, 140, 141);
}

